
.tile .tile-inner {
	border-radius: 3px;
	background: #eee4da;
	text-align: center;
	font-weight: bold;
	z-index: 10;
	font-size: 55px; 
}
.tile.tile-2 .tile-inner {
	color: #f9f6f2;
	background: #000000;
}
.tile.tile-4 .tile-inner {
	color: #f9f6f2;
	background: #1C1C1C;
}
.tile.tile-8 .tile-inner {
	color: #f9f6f2;
	background: #383838; 
}
.tile.tile-16 .tile-inner {
	color: #f9f6f2;
	background: #545454; 
}
.tile.tile-32 .tile-inner {
	color: #f9f6f2;
	background: #707070; 
}
.tile.tile-64 .tile-inner {
	color: #06090E;
	background: #8C8C8C;
}
.tile.tile-128 .tile-inner {
	color: #06090E;
	background: #A8A8A8;
}
.tile.tile-256 .tile-inner {
	color: #06090E;
	background: #C4C4C4;
}
.tile.tile-512 .tile-inner {
	color: #06090E;
	background: #E0E0E0;
}
.tile.tile-1024 .tile-inner {
	color: #f9f6f2;
	background: #FCFCFC;
}
.tile.tile-2048 .tile-inner {
	color: #f9f6f2;
	background: #000000; 
}
.tile.tile-super .tile-inner {
	color: #f9f6f2;
	background: #3c3a32;
	font-size: 30px; 
}